h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font-heading;
}

.entry-content h1 {
	font-size: 30px;
}

h1.title {
	font-size: 40px;
	width: 100%;
	text-align: center;
	margin: 40px 0 80px 0;
}