body {
	font-family: $font-copy;
	color: $color-purple;
}
.text {
	line-height: 1.8;
	font-size: 20px;
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 80%;
		padding: 0px;
	}
}

.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo , h1.logo {
	width: 200px;
	margin: 10px auto;

	@media screen and (min-width: $tabwidth) {
		width: 200px;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}
.logo a, h1.logo a {
	width: 100%;
	display: block;

	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}
header#masthead {
	width: 100%;
	padding: 10px 0;
	background-color: #fff;
	float: left;
}
.site-footer {
	width: 100%;
	clear: both;
	padding: 40px 0;
	background-color: $color-purple;
	color: #fff;
	text-align: center;
	a {
		text-decoration: none;
		color: #fff;
	}
}
.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=image], .gform_wrapper .gform_footer input[type=submit] {
	padding: 20px 50px;
	background-color: $color-purple;
	color: #fff;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	border: 0;
	text-transform: uppercase;
	font-size: 30px;
}
.home-service-area {
	a {
		color: #115b8a;
		text-decoration: none;
	}
}




